@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:700|Cabin');

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: 
   Date: 
	
   Filename: br_styles.css

*/

html {
    background-color: rgb(24, 27, 248);
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    background-color: blanchedalmond;
    border: 2px solid black;
    box-shadow: rgb(51, 51, 51) 10px 10px 50px, rgb(51, 51, 51) -10px 10px 50px;
}

header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5%;
}

h1 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 135%;
}

h2 {
    text-align: center;
    padding-top: 6%;
}

div.slide {
    display: block;
    width: 600px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}

div.slide img.slideshow {
    display: block;
    width: 600px;
    height: 450px;
    border: 2px solid black;
    box-shadow: rgb(51, 51, 51) 10px 10px 50px, rgb(51, 51, 51) -10px 10px 50px;
}

section h1 {
    text-align: center;
    text-decoration: underline;
}

section#bottomLinks {
    padding-top: 5%;
    padding-bottom: 3%;
}

section#bottomLinks nav {
    display: table;
    width: 100%;
}

section#bottomLinks nav ul {
    display: table-row;
    list-style-type: none;
    text-align: center;
}

section#bottomLinks nav ul li {
    display: table-cell;
    text-align: center;
    width: 25%;
}

h1#listingHeader {
    text-align: center;
    text-decoration: underline;
}

h1#listingDescription {
    padding-top: 3%;
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: center;
    text-indent: 4%;
    padding: 0% 6% 0% 6%;
    font-family: 'Cabin', sans-serif;
    font-size: 110%;
}

img#logo {
    border: 2px solid black;
    background-image: url(br_paper.png);
}

header nav {
    display: table;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

header nav ul {
    display: table-row;
    list-style-type: none;
}

header nav ul li {
    display: table-cell;
    text-align: center;
    width: 20%;
    font-family: 'Cabin', sans-serif;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
}

nav ul li a:hover {
    color: rgb(24, 27, 248);
    transition: .2s;
    font-weight: bolder;
}